body {
  margin: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: "Muli", sans-serif;
  color: #40515E;
}

h1 {
  margin: 0 auto;
  font-family: "Sacramento", cursive;
  color: #66BFBF;
  font-size: 5.1em;
}

h2 {
  font-family: 'Muli', sans-serif;
  color: #66BFBF;
  font-weight: bold;
  padding-bottom: 10px;
  width: 50%;
  margin: 25px auto 20px auto;
  text-align: center;
}

h3 {
  font-family: 'Muli', sans-serif;
  color: #11999E;

}

#p-contact-me {
  padding-bottom: 30px;

}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: "Muli" sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


#profile-photo {
  padding-top: 25px;
  margin-top: 15px;
}



.top-div {
  background-color: azure;
  position: relative;
  padding-top: 80px;

}

.profile {
  padding: 30px;
}

.middle-container {
  background-color: white;
}

.first-cloud {
  position: absolute;
  top: 350px;
  right: 300px;
}

.second-cloud {
  position: absolute;
}

.third-cloud {
  position: absolute;
  right: 140px;
  top: 80px;
}

/*Esta clase es de Desing & Development y Fifa Player */
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}



/*imagenes */
.skills-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  position: relative;
  bottom: 20px;
}

.game-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  position: relative;
  bottom: 20px;
}


/* bottom part */
.contact-me {
  background-color: white;
  padding-bottom: 30px;
  margin: 40px auto 1px;
  width: 40%;
  padding-bottom: 60px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 65px 0 20px;

}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  font-family: "Muli" sans-serif;
  padding: 15px 0;
}
